@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-cols-auto-fit {
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    }

    @media (max-width: 768px) {
        .grid-cols-auto-fit {
            grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        }
    }

    .dialog-backdrop::backdrop {
        @apply bg-black bg-opacity-65;
    }
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(31 41 55);
}